<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Open JSwingRipples"
            id="jRipplesEclipsePlugin.commands.category">
      </category>
      <command
            name="Open JSwingRipples"
            categoryId="jRipplesEclipsePlugin.commands.category"
            id="jRipplesEclipsePlugin.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="jRipplesEclipsePlugin.commands.sampleCommand"
            class="jrippleseclipseplugin.handlers.MenuButtonHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jRipplesEclipsePlugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="JSwingRipples"
               mnemonic="M"
               id="jRipplesEclipsePlugin.menus.sampleMenu">
            <command
                  commandId="jRipplesEclipsePlugin.commands.sampleCommand"
                  mnemonic="S"
                  id="jRipplesEclipsePlugin.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="jRipplesEclipsePlugin.toolbars.sampleToolbar">
            <command
                  commandId="jRipplesEclipsePlugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Open JSwingRipples"
                  id="jRipplesEclipsePlugin.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command
                  commandId="jRipplesEclipsePlugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="jRipplesEclipsePlugin.menus.sampleCommand"
                  mnemonic="S">
 
                    <visibleWhen>
				           <with variable="activeMenuSelection">
				            <iterate
				                 ifEmpty="false">
				             <adapt type="org.eclipse.core.resources.IResource">
				               <test property="org.eclipse.core.resources.name" value="*.java" />
				             </adapt>
				            </iterate>
				           </with>
         			</visibleWhen>
            </command>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
            <command
                  commandId="jRipplesEclipsePlugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="jRipplesEclipsePlugin.menus.sampleCommand"
                  mnemonic="S">
 
                    <visibleWhen>
				           <with variable="activeMenuSelection">
				            <iterate
				                 ifEmpty="false">
				             <adapt type="org.eclipse.core.resources.IResource">
				               <test property="org.eclipse.core.resources.name" value="*.java" />
				             </adapt>
				            </iterate>
				           </with>
         			</visibleWhen>
            </command>
      </menuContribution>
      
   </extension>

</plugin>
